@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
  font-family: "Teko", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebfff0;
}

#topbar {
  width: 100%;
  height: 15%;
  position: absolute;
  background-color: #7dffa0;
  text-align: center;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topbar h1 {
  color: white;
}

#topbar p {
  color: white;
  margin-left: 25px;
}

.game {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBtn {
  height: 250px;
  margin: 25px;
  font-size: 25px;
  background-color: #7dffa0;
  border-radius: 20px;
  border: 3px solid black;
  transition: 0.5s;
  flex-basis: 25%;
}

#mainBtn:hover {
  background-color: #6add89;
  color: white;
}

#upgrades {
    flex-basis: 40%;
    display: flex;
    text-align: center;
    overflow-y: auto;
    height: auto;
    max-height: 75%;
    justify-content: center;
}

#upgrades h1 {
    margin: 0;
    white-space: nowrap
}

#manUpgrades {
    flex-basis: 50%;
    margin-right: 20px;
    max-width: 200px;
}

#autoUpgrades {
    flex-basis: 50%;
    max-width: 200px;
}

.upgrade {
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: white;
    height: 145px;
}

.name, .cost, .purchase, .level, .description {
    margin: 0;
}

.purchase {
    background-color: #7dffa0;
    width: 75%;
    border-radius: 7.5px;
    border: 0;
    transition: 0.3s;
    margin-top: 2px;
}

.purchase:hover {
    background-color: #6ddc8a;
    width: 100%;
}

.purchase:active {
    background-color: #cdffda;
    width: 90%;
}


.hidden {
    display: none;
}

#stats {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #7dffa0;
    padding: 15px;
    border-radius: 0 15px 0 0;
    border-top: 5px solid black;
    border-right: 5px solid black;
    width: 250px;
    max-height: 270px;
}

.statstext {
    margin: 0;
    display: inline-block;
}

.statsleft {
  text-align: left;
}

.statsright {
  float: right;
}

#statsTitle {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#version {
  position: fixed;
  bottom: 0;
  right: 50px;
}

#version:hover:before {
  content: "Aug 28 2023 | Clickalicker II version 'BIGGER Part 1' / ";
}

#devMode {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 15px;
}

#devModeStat {
  text-align: center;
}

#warning {
  color: red;
  position: absolute;
  top: 50px;
}

#github {
  position: absolute;
  left: 20px;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#github p {
  margin-left: 10px;
}

#githubInside {
  font-size: 40px;
  color: white;
  float: left;
}

.alignVertical {
  align-items: center;
}

.dataButton {
  width: 75%;
  height: 30px;
  font-size: 25px;
  background-color: #e7ffed;
  border-radius: 10px;
  border: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: 0.3s;
  margin-bottom: 5px;
}

.dataButton:hover {
  background-color: #b9ccbe;
  width: 100%;
}

.dataButton:active {
  background-color: #cdffda;
    width: 90%;
}